<div class="articles">
        <ol>
            {% for article in articles_page.object_list %}
            <li>
                <article>
                    <header>
                        <a href="{{ SITEURL }}/{{ article.url }}">
                            <h2>{{ article.title }}</h2>
                        </a>
                    </header>
                    <footer class="article-list-author">
                         <p>
                            {% if article.author %}
                            par {{ article.author }}
                            {% endif %}
                        </p>
                    </footer>
                    <div class="summary">{{ article.description }} </div>
                    <div class="tags">
                        <ul class="tags">
                        {% for tag in article.tags %}
                            <li><a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <p class="readmore">Voir plus…</p>
                    </a>
                </article>
            </li>
            {% endfor %}
        </ol>
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}

</div>
