header h1 a {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.5;
}

a[href='#top'] {
  text-decoration: none;
  font-size: 2em!important;
}

/* Footnotes */
sup a {
  position: relative;
  bottom: 1px;
  font-size: .8em;
  line-height: .8em;
  vertical-align:super;
}

/* COLORS
primary : trypan blue #390099
secondary : mango #FFBD00
tertiary : orange pantone #FF5400
also jazzberry jam #9E0059
and red crayola #FF0054
Generated with coolors https://coolors.co/390099-ffbd00-ff5400-9e0059-ff0054
 */

ul {
  list-style-type: circle!important;
  color: black!important;
}

/* img[src="/images/couv_resistances_africaines.jpg"] {
} */

@media screen and (max-width: 768px) {
  #masthead h1, #masthead nav {
    margin-left: 0em!important;
    padding: 1em;
  }
}

.page-title h1 {
  max-width: 100%;
  word-break: break-all;
}


table, th, td {
  border: 1px solid black !important;
}

table {
  width: 100%;
  text-align: center;
}

sup {
  top: -0.5em;
}

.article-author-subtitle {
  text-align: right;
  display: block;
  padding-bottom: 1em;
  font-size: 1.5em;
}

.article-list-author {
  text-align: right;
}

.footnote p {
  word-break: break-all;
}

body {
  border-left: solid 10px #390099!important;
  border-top: solid 10px #FF5400!important;
}

#masthead {
  background-color: #FFBD00;
  height: 100%;
}

#masthead img {
  width: 100%;
  margin-bottom: 5em;
}

#masthead h1, #masthead nav {
  text-align: center;
}

#page-footer p {
  color: black!important;
}


blockquote p::before {
  content: "« ";
  font-style: italic;
}

blockquote p::after {
  content: " »";
  display: inline-block;
  font-style: italic;
}

blockquote {
  padding-left: 2em!important;
  font-style: italic;
  font-weight: normal!important;
  color: darkgrey;
}
